<div class="logoheader"><div class="hdtitle">Student List </div></div>
<br/>
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center" style="background-color:#3f51b5 !important">Update</h3>
            <hr />
            <div class="card-body">
                <form #updatestudentform="ngForm" (ngSubmit)="updateStudent(updatestudentform,students.studentId)">
                <div class="form-group">
                    <label> *Student Name</label>
                    <input type="text" class="form-control" id="studentname" name="studentname" [(ngModel)]="students.studentName" required>
                    
                </div>
                <div class="form-group">
                    <label> *Age</label>
                    <input type="text" class="form-control" id="studentage" name="studentage" [(ngModel)]="students.studentAge" required  pattern="^[0-9]+$" #studentage="ngModel">
                    <div *ngIf="studentage.invalid" class="text-danger">
                            Age must contain digits only.
                     </div>
                </div>
                <div class="form-group">
                    <label> *Class</label>
                    <input type="text" class="form-control" id="studentclass" name="studentclass" [(ngModel)]="students.studentClass" required  pattern="^[0-9]+$" #studentclass="ngModel">
                     <div *ngIf="studentclass.invalid" class="text-danger">
                        Class must contain digits only.
                     </div>
                </div>
                <br/>
                    <button class="btn btn-success" type="submit" [disabled]="!updatestudentform.dirty || updatestudentform.invalid">Submit</button>
                    <button class="btn btn-warning" type="button" style="margin-left: 10px" (click)="goToStudentList()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
